

Assignment 1 - TOPSIS

Name: Yatin Arora

Roll no.: 102303935

In [30]:
install.packages('topsis')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [31]:
library(topsis)

In [32]:
data=read.csv('topsis_data.csv')
data

  Fund.Name P1   P2   P3  P4   P5
1 M1        0.90 0.81 6.4 63.4 17.88
2 M2        0.62 0.38 4.3 45.7 12.75
3 M3        0.71 0.50 4.6 38.7 11.13
4 M4        0.79 0.62 3.5 62.3 16.80
5 M5        0.65 0.42 6.1 47.4 13.64
6 M6        0.80 0.64 6.0 40.0 11.86
7 M7        0.61 0.37 6.1 59.3 16.60
8 M8        0.91 0.83 6.7 55.7 16.04

In [33]:
data_matrix <- as.matrix(data[,-1]) # -1, drop 1st column
data_matrix

     P1   P2   P3  P4   P5
[1,] 0.90 0.81 6.4 63.4 17.88
[2,] 0.62 0.38 4.3 45.7 12.75
[3,] 0.71 0.50 4.6 38.7 11.13
[4,] 0.79 0.62 3.5 62.3 16.80
[5,] 0.65 0.42 6.1 47.4 13.64
[6,] 0.80 0.64 6.0 40.0 11.86
[7,] 0.61 0.37 6.1 59.3 16.60
[8,] 0.91 0.83 6.7 55.7 16.04

In [34]:
weights <- c(1,1,1,1,2)
weights
impacts <- c('+', '+', '-', '+', '+')
impacts

[1] 1 1 1 1 2

[1] "+" "+" "-" "+" "+"

In [35]:
topsis_output <- topsis(data_matrix, weights, impacts)
topsis_output

  alt.row score     rank
1 1       0.7170935 2
2 2       0.3030994 6
3 3       0.2728235 7
4 4       0.7378719 1
5 5       0.2676299 8
6 6       0.3323030 5
7 7       0.4572875 4
8 8       0.6391954 3

In [41]:
final_result <- cbind(data, topsis_output)
colnames(final_result)[ncol(final_result)-1] <- "Topsis Score"
colnames(final_result)[ncol(final_result)] <- "Rank"
final_result

  Fund.Name P1   P2   P3  P4   P5    alt.row Topsis Score Rank
1 M1        0.90 0.81 6.4 63.4 17.88 1       0.7170935    2
2 M2        0.62 0.38 4.3 45.7 12.75 2       0.3030994    6
3 M3        0.71 0.50 4.6 38.7 11.13 3       0.2728235    7
4 M4        0.79 0.62 3.5 62.3 16.80 4       0.7378719    1
5 M5        0.65 0.42 6.1 47.4 13.64 5       0.2676299    8
6 M6        0.80 0.64 6.0 40.0 11.86 6       0.3323030    5
7 M7        0.61 0.37 6.1 59.3 16.60 7       0.4572875    4
8 M8        0.91 0.83 6.7 55.7 16.04 8       0.6391954    3

In [42]:
write.csv(final_result, "output_data_102303935.csv", row.names = FALSE)